XML {
  display:none;
}
body {
  font-family: "Montserrat","Avenir";
  background-color: lightskyblue;
  margin: 5px;
  text-align: left;
  color: hsl(56, 90%, 50%);

}
h1 {
   font-family: "Montserrat","Avenir"; 
  font-size: 200%;
  color: white;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}
h3 {
  font-family: "Montserrat","Avenir";
  font-size: 90%;
  color: #0a0a09;
  text-align: center;
}
img {
   width: 30%;
}
table {
  background-color: rgb(138, 175, 199);
  border-color:white;
  border-width:thick;
}
th {
  border-color: #000000;
  font-size: 120%;
  color: #0D3427;
}
td {
  border-color: #000000;
  font-size: 120%;
  color: #523819;
  padding: 5px;
}

.indent {
  margin-left: 100px;
}
button{
    border:none;
    background: none;
    text-transform: uppercase;
    font-weight:700;
    color: steelblue;
    letter-spacing:1x;
    font-size: inherit
    transition: all 0.3s;
    outline: none;
}
button:hover{
    color:white;
    background: steelblue;
}